@import "https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap";
@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

body {
    background-color: #0be881;
    font-family: "Architects Daughter", cursive;
}

ul {
    list-style: none;
}

nav {
    background-color:  rgb(255, 221, 89, 0.8);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

nav ul {
    display: flex;
    margin-right: 2rem;
}

nav ul li a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
    margin-left: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

nav ul li a:hover {
    transform: scale(1.5);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    font-size: 1.5rem;
}

.welcome-header {
    font-size: 3em;
    font-weight: bold;
}

.welcome-header-text {
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    padding-top: 2rem;
}


.projects-container {
    background-color: rgb(236, 240, 241);
    padding: 10rem 7rem 5rem 7rem;
}

.project-header {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.project-header hr {
    display: inline-block;
    border-top: 3px solid;
    width: 70%;
    margin: 1rem auto 3rem auto;
}

.projects-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.project-card {
    margin: 2rem 1rem 2rem 1rem;
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;
    border-radius: 2%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.project-image {
    width: 100%;
    height: 100%;
}

.project-title {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
    background-color: rgb(0, 0, 0, 0.6);
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.project-title--blur {
    border-radius: 2%;
    backdrop-filter: blur(5px);
}

.project-card:hover .project-title {
    transform: translateY(0%);
    transition: 0.2s ease-in-out;
}


.contact-container {
    font-size: 1.5rem;
    min-height: 95vh;
    padding: 15rem 10rem 5rem 10rem; 
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.contact-header hr {
    border-top: 3px solid;
    width: 40%;
    margin: 1rem auto 3rem auto;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;   
    text-align: center;
    margin-top: 5rem;
    padding: 2rem;
}

.contact-info a {
    font-size: 3rem; 
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

.contact-info a:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #fff;
  }

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(255, 221, 89);
    font-weight: 300;
    font-size: 1.5rem; 
    padding: 1rem;
  }


  @media (max-width: 576px) {
    .projects-container {
        padding: 10rem 1rem 5rem 1rem;
    }
    .project-card {
        margin: 2rem 1rem 2rem 1rem;
        width: 400px;
        height: 250px;
    }
  }
  
  @media (max-width: 768px) {
    .contact-wrapper {
        margin-top: 10px;
    }
  }
  
  @media (max-width: 992px) {

  }
  
  @media (max-width: 1300px) {
    .projects-container {
        padding: 10rem 3rem 5rem 3rem;
    }
    .contact-container {
        padding: 10rem 3rem 5rem 3rem; 
    }
    .contact-wrapper {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .contact-info {
        padding: 0.5rem;
    }
  }
